div#administradora-de-condominio {
padding: 0px;
}

section#esquerda {
padding: 0px;
background: #BAFF8E;
}

#esquerda .navbar-brand {
height: 160px !important;
padding-left: 15px;
}

#esquerda .navbar-brand img {
width: 300px !important;
height: auto;
}

@media (min-width: 768px) {
#esquerda .navbar-brand img {
width: 200px !important;
height: auto;
}
#esquerda .navbar-brand {
height: 120px !important;
padding-left: 15px;
}
}
